Flask_SQLAlchemy==2.4.4
numpy==1.17.3
scikit_image==0.18.1
scikit_learn==0.24.0
opencv_contrib_python_headless==4.5.1.48
scipy==1.6.0
requests==2.25.1
SQLAlchemy==1.3.22
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchvision==0.8.2+cu110
torchaudio===0.7.2
Flask_Restless==0.17.0
Flask==1.1.2
umap_learn==0.3.10
Pillow==8.1.0
ttach==0.0.2
albumentations==0.4.3
config==0.4.2
