body {
	/* padding-top: 20px; */
	padding-bottom: 20px;
	font-family: sans-serif;
}

.breadcrumb li {
	font-size: 13pt;
}

tr:nth-of-type(odd) {
	background-color: #eee;
}

tr:hover td {
	background: #ccc;
}

tr td:nth-of-type(2) {
	cursor: pointer;
}

.qa-container {
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
	display: inline-block;
}

.qa-galleryItem-wrapper {
	color: #797478;
	font: 12px/1.5 Verdana, Helvetica, sans-serif;
	float: left;

	width: 18%;
	margin: 1% 1% 50px 1%;

	background: rgba(165, 165, 165, 0.27);
	border: 2px solid #a7a7a7;
	min-width: 200px;
}

.qa-galleryItem {
	overflow: hidden;
	margin: 15px 15px 15px;
}

.qa-galleryItem h3 {
	font: 20px/1.5 Verdana;
	text-transform: uppercase;
}

.qa-galleryItem img {
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 96%;}
	.galleryItem h3 {font-size: 18px;}
	.galleryItem p {font-size: 18px;}
}

a {
	font-family: sans-serif;
}

div {
	font-family: sans-serif;
}
