.main {
    color: blue;
    background-color: brown;
}

.drag-drop {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.document-uploader {
    border: 2px dashed #4282fe;
    background-color: #f4fbff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.upload-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    svg {
        font-size: 36px;
        /* margin-right: 1rem; */
    }

    div {
        p {
            margin: 0;
            font-size: 16px;
        }

        p:first-child {
            font-weight: bold;
        }
    }
}