<!DOCTYPE html>
<html lang="en">
<head>
    <title>QA - {{project.name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imageselection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    {#    Jquery need to be laoded before bootstrap, other wise it will cause error#}
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/projectPageScript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/qa-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('html.images_main' , project_name=project.name) }}"></script>
</head>

<!-- After the body has loaded, this javascript function will be run: -->
<body onload="init()">


<div id = "main" class="container">
    <div style="display: grid;  width: 100%;">
        <div style="display: block; width:100%; float:right">
            <div style="float:right"><h5><a href="https://ccipd.case.edu" target="_blank">CCIPD</a></h5></div>
        </div>
        <div style="display: block; width:100%; float:right">
            <div style="float:right">
                <h1><a style="color:#007bff" href="{{ url_for('html.index') }}" title="Go to Home Page" >Quick Annotator</a></h1>
            </div>
            <div>
                <h1><b>Current Project:</b> {{ project.name }}</h1>
            </div>
        </div>
    </div>
    <form id="uploadfiles" class="dropzone" action="{{ url_for('api.upload_image', project_name=project.name)}}" method="post" enctype="multipart/form-data" style="padding: 20px; border: 2px dotted lightgrey;">
        <div class="dz-message needsclick">
            <h3>1. Drop files here or click to upload.</h3>
        </div>
    </form>
    <script type="text/javascript">
        Dropzone.options.uploadfiles = {
            init: function () {
                // Set up any event handlers
                this.on('complete', function (file) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        location.reload();
                    }
                });
            }
        };
    </script>

    <br>
    <div style="text-align: center">
        <a><button id="makePacthButton" disabled class= "btn btn-default" onclick= "make_patches()"><span class="buttonFont" >2. Make Patches</span></button></a>
        <a><button id="trainAEButton" disabled class= "btn btn-default" onclick= "train_ae()"><span class="buttonFont">3. (Re)train Model 0</span></button></a>
        <a><button id="makeEmbedButton" disabled class= "btn btn-default" onclick= "make_embed()"><span class="buttonFont">4. Embed Patches</span></button></a>
        <a href = "{{ url_for('html.plotembed',project_name=project.name) }}"><button id="viewEmbedButton" disabled class= "btn btn-default"><span class="buttonFont">5. View Embedding</span></button></a>
        <br><br>
        <div>
            <textarea id="notifications" class="logbase notification" readonly>Notifications will appear here.</textarea>
        </div>
    </div>

    <h3>6. Click on an image below to begin annotation:</h3>
    <div>
        {% for image in images %}
            <div class="responsive" id="{{ image.name }}">
                <div class="gallery">
                    <div>
                        <a target="_blank" href="{{ url_for('html.annotation', project_name = project.name , image_name = image.name) }}"><img src="{{ url_for('api.get_image_thumb',project_name = project.name, image_name= image.name) }}" height="200px"></a>
                        <a href="#" style="float:right; " onclick= "delete_image('{{ image.name }}')">X</a>
                    <div class="desc">{{ image["name"]}}</div>
                    <p align="center">{{image["width"]}} x {{image["height"]}}</p>
                    <dl class="dl-horizontal">
                        <dt>Annotated patches</dt>
                        <dd id="patches">{{ image.ROIs }}</dd>
                        <dt>Training patches</dt>
                        <dd id="training_patches">{{ image.trainingROIs }}</dd>
                        <dt>Annotated objects</dt>
                        <dd id="annotated_objects">{{ image.nobjects }}</dd>
                        <dt>Image completion</dt>
                        <dd id="annotated_percentage_{{ image.id }}" >N/A</dd>
                        <script>
                            updatePercentCompleted({{ image.width }},{{ image.height }},{{ image.ppixel }},{{ image.npixel }},"annotated_percentage_{{ image.id }}")
                        </script>
                    </dl>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<hr>
<hr>

<button class="btn btn-default" id="modal_button">View Notifications/Logs</button>

<!-- The Modal -->
<div id="modal_div" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="logs">
      <div class="log">
        <textarea id="log" class="logbase logstream" readonly></textarea>
      </div>
      <div class="tab">
        <button id="defaultOpen" class="tablinks" onclick="show_log(event, '')"><b>Notifications</b></button>
        <button class="tablinks" onclick="show_log(event, 'jobs')"><b>Algorithms</b></button>
        <button class="tablinks" onclick="show_log(event, 'flask')"><b>Server</b></button>
        <button class="tablinks" onclick="show_log(event, 'QA')"><b>(All)</b></button>
        <script>
          // Get the element with id="defaultOpen" and click on it
          document.getElementById("defaultOpen").click();
        </script>
      </div>
    </div>
  </div>
</div>


</body>

</html>
