<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quick Annotator Sample Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imageselection.css') }}">
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/projectPageScript.js') }}"></script>
</head>
<body>
<div id = "main" class="container">
    <h2 class="title">{{ project }}</h2>
    <div>
        {% for sample in imglist %}
            <div class="responsive">
                <div class="gallery">
                    <div>
                        <a href=""><img src="/{{ project }}/{{ sample }}/patch" width="100px" height="100px"></a>
                        <a href=""><img src="/{{ project }}/{{ sample }}/mask" width="100px" height="100px"></a>
                        <a href="dataset/{{ sample }}/delete" style="float:right; ">X</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
